node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
.dist
*.local
coverage
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
tsconfig.tsbuildinfo
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
vite.config.js
vite.config.d.ts
