p,ul,a {
    font-family: 'Lora', serif;
}

h1,h2 {
    font-family: 'Josefin Sans', sans-serif;
	margin: 0 auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 20px;
}

html {
	background-color: #2c8ebf
}

body {
	width: 600px;
	margin: 20px auto;
    background-color: #ffbe2f;
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
}

img {
	border: 2px solid black;
}

bottomLink {

}
